<h1>Questions#answer with a stupid coach !</h1>

<div>
  <ul>
    <li><%= @question %></li>
    <li class="italic">- You</li>
  </ul>
  <ul>
    <li><%= @answer %></li>
    <li class="italic">- Your coatch</li>
  </ul>
</div>

<%= link_to "Ask a new question", "/ask" %>
